/* .app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* color variables   */
/* $clr-negative: #ff1744;
$clr-negative: #2abf77;
$clr-negative: #f0f7f8;
$clr-negative: #cfd8dc;
$clr-negative: #a7b7be;
$clr-negative: #6b7e86;
$clr-negative: #425a65; */

/*   border radius */
/* $radius: 0.2rem; */

*,
*::before
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

  .app{
    font-family: montserrat,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    background-color:clr-grey100;
    color: clr-gray500;
  }

  h1{
    font-size: 6rem;
  }

.button__wrapper{
  display: flex;
  gap: 1rem;

  & > *{
    border: none;
    background-color: white;
    box-shadow: 0px 0px 0px clr-gray200;
    font-weight: bold;
    font-size: 2rem;
    color: inherit;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    outline: none;
    transition:background-color 250ms ease-in-out,transform 50ms ease-in-out;

  &:hover{
    background-color: clr-gray200;
  }
  &:active{
    transform: scale(0.9);
  }
  }
} 

.negative{
  color: clr-negative;
  animation: pulse 500ms ease-in-out;
}

.positive{
  color: clr-positive;
  animation: pulse 500ms ease-in-out;
}

@keyframes pulse{
  0%, 100%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);

  }
}